In [33]:
import pandas_utils as pu
import pandas as pd
import logging

In [34]:
logging.basicConfig(level=logging.DEBUG)

In [23]:
pu.install()

In [15]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
df = pd.DataFrame({'a': [1, 2, 3, 3], 'b': [4, 5, 6, 6]})
df.i()

   a  b
0  1  4
1  2  5
2  3  6
3  3  6

In [26]:
df.d()

NameError: name 'dtale' is not defined

In [35]:
df[df.duplicated(subset="a")].drop_from(df)

DEBUG:pandas_utils.utils:Going to drop
DEBUG:pandas_utils.utils:1 rows

   a  b
3  3  6

DEBUG:pandas_utils.utils:Before:4 after:3

   a  b
0  1  4
1  2  5
2  3  6

In [32]:
df

   a  b
0  1  4
1  2  5
2  3  6
3  3  6